.App {
  text-align: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.single-product {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(215, 220, 220);
  border-radius: 10px;
  height: 400px;
}

.single-product__image {
  object-fit: cover;
  width: 80%;
  height: 85%;
  border-radius: 10px;
}

.pagination {
  bottom: 10px;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}
.pagination__number {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  margin: 1px;
}

.pagination__selected-number {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  margin: 1px;
  background-color: bisque;
}

.pagination__icon {
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
}